* {
	margin: 0px;
	padding: 0px;
	font-family: 'Comfortaa', cursive;
}
h1 {
	font-size: 40px;
	padding-bottom: 10px;
}
h2 {
	font-size: 20px;
}
ul {
	list-style: none;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	color: #fafaff;
	opacity: 0.6;
	text-decoration: none;
	padding-right: 30px;
}
a:hover {
	opacity: 1;
}
textarea:focus,
input:focus {
	outline: none;
}

.eachSection {
	width: 100vw;
}
.iconDescription {
	text-align: center;
	height: 100%;
	width: 33vw;
	padding: 2%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #333 !important;
	border-color: red;
	border-width: 20px;
	border-radius: 100;
}
.carousel-control-prev,
.carousel-control-next {
	width: 5% !important;
}

::placeholder {
	color: #fafaff;
	opacity: 0.8;
}
#menuNavBar {
	color: #fafaff !important;
	opacity: 0.6 !important;
}
#menuNavBar:hover {
	opacity: 1 !important;
	text-decoration: none !important;
}
#maillabel {
	font-size: 3vh;
	color: #fafaff;
	/* padding: 0px 40px; */
}
#mce-EMAIL {
	width: 20vw;
	margin: 15px 0px;
	border: none;
	background-color: #333;
	border-bottom: 2px solid #ff5959;
	font-size: 1em;
	color: #fafaff;
	user-select: none;
}
#mc-embedded-subscribe {
	width: 10vw;
	height: 2em;
	border: 1px solid rgba(213, 227, 234, 1);
	font-size: 1em;
	border-radius: 5px;
	background-color: rgba(213, 227, 234, 1);
	color: #333;
}
#mc-embedded-subscribe:hover {
	cursor: pointer;
	background-color: #ff5959;
	border: 1px solid #ff5959;
	color: #fafaff;
}

#ourhome {
	color: #fafaff;
	margin-right: auto;
	float: left;
	font-size: 1.7vh;
	padding-left: 20px;
}
#mainNav {
	width: 100vw;
	height: 6vh;
	font-size: 1.8vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

#reminders {
	height: 70vh;
	background-color: #fafaff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#remindersSecond {
	height: 45vh;
	width: 100vw;
	background-color: #fafaff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#overview {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(213, 227, 234, 1);
}

#contactUs {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}
#communication {
	height: 70vh;
	background-color: #fafaff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#finance {
	height: 70vh;
	background-color: rgba(213, 227, 234, 1);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#ourHomeLogo {
	height: 30vh;
	/* width: 40 */
}

#messagingPhoto {
	height: 60vh;
}

#secondMessaging {
	width: 50%;
	margin-left: 2%;
	color: #333;
}
#roomateWord {
	color: rgba(185, 60, 73, 1);
}
